.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.header_img {
width: 150px;
height: 30px;
margin: auto 0;
}

.header_list {
  display: flex;
  color: rgb(190, 190, 190);
  font-size: 20px;
}

a {
  text-decoration: none;
}


.main {
  position: relative;
  margin-bottom: 50px;
}
.main_img {
  width: 65%;
  margin-left: auto;
  display: block;

}

.main_text {
  position: absolute;
  display: block;
  font-size: 64px;
  top: 5%;
  left: 11%;
  color: rgb(173, 45, 156);
font-family: 'Indie Flower',
cursive;
line-height: 75px;
}

.main_text_item {
  color: rgb(27, 145, 192);
  font-weight: bold;
}

.main_text_text {
  font-size: 24px;
  color: rgb(173, 45, 156);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 11%;
font-family: 'Indie Flower',
cursive;
}

.main_text_sub {
  position: absolute;
    top: 105%;
  color: rgb(192, 189, 189);
  font-size: 16px;
  font-family: none;
}

.news {
  width: 50%;
  color: rgb(189, 189, 189);
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
}

.news_tab {
  font-size: 18px;
  color: rgb(173, 45, 156);
  padding: 10px;
  font-family: 'Indie Flower',
  cursive;
}

.news_list {
  width: 50%;
  border-top: solid 1px rgb(189, 189, 189);
  color: rgb(189, 189, 189);
  padding: 10px;
  margin: 0px auto;
  line-height: 20px;
}

li:last-of-type {
  border-bottom: 1px solid rgb(189, 189, 189);
  margin-bottom: 60px;
}

.news_list_tab {
  font-size: 10px;
  color: white;
  background: rgb(173, 45, 156);
  border-radius: 15px;
  display: inline-block;
  padding: 3px 20px;
  margin: 0 28px;
}


.about {
  background: rgb(217, 216, 216);
  position: relative;
  margin-bottom: 60px;
  height: 450px;
  color: black;
}


.about_ttl {
  text-align: center;
  color: rgb(158, 157, 157);
  font-size: 24px;
  padding: 25px;
}

.about_box {
  display: flex;
}

.about_img {
  width: 35%;
  display: block;
  margin: 0 auto;
}

.about_main {
  color: rgb(206, 205, 205);
  font-size: 14px;
  margin: 0 auto;
  line-height: 25px;
  width: 35%;

}

.about_main_des {
  color: rgb(89, 89, 89);   
  margin-bottom: 30px;
  }

.service_ttl {
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
  width: 50%;
}

.service_ttl_tab {
  font-size: 18px;
  color: rgb(173, 45, 156);
  padding: 10px;
  font-family: 'Indie Flower',
  cursive;
}

.service {
    margin-left: 165px;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 350px 450px;
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.service_box1 {
  background: #c365c3;;
  grid-row: 1/3;
  grid-column: 1/2;
  font-size: 18px;
  color: white;
  }

.service_box2 {
  background: #c470c4;
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 14px;
  color: white;
  position: relative;
}
.service_box3 {
  background: #bd7bbd;
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 14px;
  color: white;
  position: relative;
}

.service_main {
  text-align: center;
  font-weight: bold;
}

.service_main_text {
  padding: 0 30px;
  line-height: 20px;
}

.service_main_2 {
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 170px;
}

.service_main_text_2 {
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 170px;
    line-height: 25px;
}

.service_img {
  width: 400px;
  height: 200px;
}

.service_img_2 {
  width: 150px;
  height: 200px;
  display: inline-block;
}

.service_img_3 {
width: 150px;
height: 200px;
display: inline-block;
}

.blog_content {
  width: 50%;
  margin: auto;
  display: flex;
}

.blog_box {
  background: rgb(217, 216, 216);
}

.blog {
    width: 30%;
    margin: 0 15px 30px 0;
    border: solid 1px;
    border-radius: 10px;
    justify-content: center;
    display: inline-block;
    position: relative;
}

.blog_img {
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.blog_img_tab {
  background: red;
  color: white;
  position: absolute;
  top: 0%;
  height: 15px;
  width: 60px;
  text-align: center;
  border-radius: 10px 0 0 0;
}

.blog_ttl {
  width: 50%;
  display: block;
  font-size: 24px;
  margin: 60px auto;
}

.blog_ttl_tab {
  font-size: 18px;
  color: rgb(173, 45, 156);
  padding: 10px;
  font-family: 'Indie Flower',
  cursive;
}

.blog_main {
  font-size: 12px;
  color: rgb(69, 68, 68);
  line-height: 20px;
  padding: 10px;
  font-weight: bold;
  background: white;
}


.blog_under {
  font-weight: bold;
  background: white;
  display: flex;
  font-size: 10px;
}

.blog_under_date {
  color: gray;
  display: inline-block;
  padding: 5px;

}

.blog_under_company {
  display: inline-block;
  padding: 5px;
  margin-left: auto;
}

.blog_btn {
  font-size: 16px;
  padding: 16px 60px;
  color: rgb(173, 45, 156);
  background: white;
  border-radius: 40px;
  border-color: rgb(173, 45, 156);
  margin: 0 auto 60px;
  display: block;
}


table {
  display: block;
  margin: 0 250px;
  MARGIN-LEFT: 250PX;
  MARGIN-BOTTOM: 60PX;
  }


th {
  width: 15vw;
  text-align: left;
  padding: 15px 20px;
  background: rgb(214, 213, 213);
  border-top: solid 1px rgb(162, 160, 160);
  border-left: solid 1px rgb(162, 160, 160);
}

td {
  width: 45vw;
  border-top: solid 1px rgb(162, 160, 160);
  border-left: solid 1px rgb(162, 160, 160);
  border-right: solid 1px rgb(162, 160, 160);
  padding: 20px;
}


td:nth-last-child(1) {
  border-bottom: solid 1px rgb(162, 160, 160);
}

th:nth-last-child(1) {
  border-bottom: solid 1px rgb(162, 160, 160);
}


.info {
    display: block;
    font-size: 24px;
    margin-left: 250px;
}
.info_tab {
    font-size: 18px;
    color: rgb(173, 45, 156);
    padding: 10px;
    font-family: 'Indie Flower',
    cursive;
}

.box {
  display: flex;
}

.work {
  position: relative;
  width: 50%;
}

.work_tab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  display: inline-block;
}

.work_img {
  width: 100%;
    top: 25%;
    left: 75%;
    color: white;
    font-size: 32px;
}

.interview {
  position: relative;
  width: 50%;
}

.interview_tab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 32px;
  display: inline-block;
}

.interview_img {
  width: 100%;
  top: 25%;
  left: 75%;
  color: white;
  font-size: 32p
}

.detail {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: rgb(189, 185, 185);
  margin: 60px 0;
}

.detail_span {
    border-left: 3px solid rgb(173, 45, 156);
    padding-left: 10px;
    width: 0px;
    height: 35px;
    margin: 0 auto 20px;
}

.detail_btn {
  display: block;
  margin: auto;
  color: white;
  background:linear-gradient(90deg,rgb(231, 67, 209),rgb(114, 113, 113));
  border-radius: 50px;
  box-shadow: 0 10px 5px rgb(73, 72, 72);
  padding: 10px 45px;
  font-size: 16px;
  }

.small {
    width: 100%;
    height: 30px;
    text-align: center;
    background: rgb(212, 212, 212);
    margin-top: 60px;
    display: block;
    padding-top: 15px;
    font-size: 8px;
}

* {
  outline: 1px solid red !important;
}